<form [formGroup]="usersForm" >

  <div formArrayName='users'>
    <div *ngFor="let user of getUsers().controls; let i=index">
      <div [formGroupName]="i">
        <input formControlName="firstName">
        <input formControlName="lastName">

        <div formArrayName="posts">
          <div *ngFor="let post of getPosts(i).controls; let p=index">
            <div [formGroupName]="p">
              <div>
                <input formControlName="title" [readonly]="toogleTitle(post, p)">
                <input formControlName="canEditTitle" type="checkbox">
              </div>
              <div>
                <textarea formControlName="body"></textarea>
              </div>
            </div>

          </div>

        </div>
      </div>

      <!--
      <div ngFor="let post of user.posts.controls" >
        <div formArrayName="{{post.id}}">
          <input [disabled]="user.canEditTitle" formControlName="title">
          <input formControlName="body">
        </div>
      </div>
      -->
    </div>

  </div>

</form>
